
#title{
    position: relative;
    left: 90px;
    font-size: 25px;
    
}
    
#signup {
    float: left;
    min-width: 1000px;
    margin-top: 1%;
    margin-bottom: 5%;
    margin-left: 5%;
}

#signupbanner{
    min-width: 1000px;
    float: left; 
    margin-left: 5%; 
    min-height: 100px;
    margin-top: 1.5%;
    margin-bottom: 30px;
    
    border: 1.5px solid rgb(148, 148, 148);
    color: rgb(0, 0, 0);
}

#signupbanner table{
    margin: auto; 
    width: 100%; 
    min-height: 100px;
    border-collapse: collapse;
}

#signupbanner table tr{
    text-align: center;
    font-size: 20px;
   

}
#signupbanner table tr td{
    width: 200px;
    
    
}
#signupbanner table tr td:not(:first-child){
    border-left: 1.8px solid rgb(96,160,211); 
}

#signup form{
   
    width: 1000px;
    margin-left: 60px;
    
    
}

#signup ul{

    position: relative;
    right: 370px;
    text-align: right;
    font-size: 15px;
    margin-top:30px ;
    
}
#signup label{
    
    font-family: '나눔1';
    src: url(NanumBarunGothicBold.ttf) format('truetype');
    
}

#signup label, input{
    display: inline-block;


}
#signup label{
    width: 160px;
    margin-top: 25px;
    text-align: left;
    height: 30px;
}

#signup ul input{
    margin-top: 20px;
    width: 300px;
    height: 33px;
    border: none;
    background:  #f2f2f2
    
}
#btn{

    width: fit-content;
    margin-left: 300px;
}
#btn input{
    background-color:#449ad3; 
    color: #ffffff;
    border: none;
    font-size: 15px;
    margin-left: 20px;
    width: 130px;
    margin-bottom:80px ;
    height: 30px;
    transition: background-color 0.5s;
    margin-left: 30px;
    
}
#btn input:hover{
    border: none;
    background-color: #5bb5f1;
    color:  #ffffff;
}
#label1{
    position: relative;
    left: 74px;
}

#reconfirm{
    height: 24px;
    border: none;
    background: rgb(219, 217, 214);
    transition: background-color 0.5s
}

#reconfirm:hover{
    background: rgb(185, 181, 176);
    
}