#signUpCompleate{
    min-width: 1000px;

    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    border: 1px black solid; float: left;
}

#complete{
    width: fit-content;
    margin: auto;
    height: 300px;
    
}

#complete div{
    display: inline-block;
    width: fit-content;
    margin-top: 10px;
    
    
    height:200px;
}