
#title{
    position: relative;
    left: 90px;
    font-size: 25px;
    
}
    
#signup {
    float: left;
    min-width: 1000px;
    margin-top: 1%;
    margin-bottom: 5%;
    margin-left: 5%;
}

#signupbanner{
    min-width: 1000px;
    float: left; 
    margin-left: 5%; 
    min-height: 100px;
    margin-top: 1.5%;
    margin-bottom: 30px;
    
    border: 1.5px solid rgb(96,160,211);
    color: rgb(0, 0, 0);
}

#signupbanner table{
    margin: auto; 
    width: 100%; 
    min-height: 100px;
    border-collapse: collapse;
}

#signupbanner table tr{
    text-align: center;
    font-size: 20px;
   

}
#signupbanner table tr td{
    width: 200px;
    
    
}
#signupbanner table tr td:not(:first-child){
    border-left: 1.8px solid rgb(96,160,211); 
}

#signup form{
    border: solid 1px #a7a9ab;
    width: 1000px;
   
    
}

#signup ul{
    
    position: relative;
    right: 370px;
    text-align: right;
    font-size: 15px;
    margin-top:80px ;
    
}
#signup label{
    
    font-family: '나눔1';
    src: url(NanumBarunGothicBold.ttf) format('truetype');
    
}

#signup label, input{
    display: inline-block;


}
#signup label{
    width: 120px;
    margin-top: 15px;
}

#signup ul input{
    width: 200px;
}
#btn{

    width: fit-content;
    margin: auto;
}
#btn input{
    background-color: #675151;
    color: #ffffff;
    border: 1px solid black;
    font-size: 15px;
    margin-left: 50px;
    width: 100px;
    margin-bottom:80px ;
    height: 30px;
    
}
#btn input:hover{
    translate: 0.5;
    background-color: #a7a9ab;
    color: black;
}
#label1{
    position: relative;
    left: 74px;
}

