
    

.option-type>div{float: left; margin-right: 10px;}
.option-type{margin-bottom: 20px;}
#category-name{height: 25px;}
#btn_group{ width: 1200px;}
.attachfile{float: left;}
.can-sub-buttons{float: right; width: 240px; margin-left: 400px;}

.btn{
    background:#64b6d6;
    border: none;
    transition: background-color 0.5s
}

.btn:hover{
   background: #3b86a3;
}

#btn_group{
    margin-top: 10px;
}