.right-menu{
    margin-top:100px;
    margin-bottom: 20px;
    float: left;
    min-width: 800px;
    margin-left: 200px;
    min-height: 300px;
    border: 1px solid rgb(179, 177, 177);
}



.next{
  float: right;
  width: 160px;
  height: 40px;
  background: skyblue;
  border: 1px solid grey;
  transition: background-color 0.5s;
  margin-right: 30px;
}

.next:hover{
    background: rgb(46, 160, 209);
    border: 1px solid grey;

}

.btnN{
    
    width: 500px;
    margin-top: 100px;
    margin-left: 100px;

   
}

#Question{
    text-align: center;
    margin-top: 40px;
    font-size: 25px;
}

#stopE{
    float: left;
    margin-top: 100px;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(175, 169, 169);
    height: 30px;
    transition: background-color 0.5s;
}

#stopE:hover{
 background: rgb(214, 214, 214);
}