



/*---------셀렉트--------------*/
#ad {
    width: 150px;
    padding: .8em .5em;
    border: 1px solid #999;
    font-family: inherit;
    background: url(../images/arrow.png) no-repeat 95% 50%;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-left: 80px;
    margin-bottom: 10px;
    height: 27px;
}

#ad::-ms-expand {
    display: none;
}

.left_wrapper {
    float: left;
    width : 300px;
    margin : 0px;
}
.right_wrapper {
    float: left;
    width : 880px;
    /*margin-left: 300px;*/
}

#content1 {

}

